/* General Usage */
.live-status {
  background-color: #ED3B4B;
}

.scheduled-status {
  background-color: #2DD2D0;
  color: rgb(54, 54, 54);
}

.replay-status {
  background-color: #8A1778;
}

/* styles for expand card */
.eventtia-card-expand_image {
    flex: 1;
}

.eventtia-card-expand_img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.eventtia-card-expand_button {
    display: block;
    width: 100%;
    text-align: center;
}

.eventtia-card-expand_btn {
  color: #ffffff;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.eventtia-card-expand_btn:hover {
  background-color:#adadad;
}

.eventtia-card-expand_badge {
  color: #ffffff;
  margin: 0 0 10px 0;
  padding: 0.2rem 0.8em;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.eventtia-card-expand_badge::before {
    content: '\025c9';
}

.eventtia-cards-expand {
  display: block;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eventtia-cards-expand_item {
  padding: 1rem;
}


@media (max-width: 620px) {
  .eventtia-card-expand {
    display: inline-block !important;
  }
}

@media (min-width: 1500px) {
  .eventtia-card-expand {
    max-height: 350px;
  }
}


.eventtia-card-expand {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
}

.eventtia-card-expand_content {
  flex: 1;
  padding: 2rem;
  background: #ffffff;
}

.eventtia-card-expand_date {
  color: #000000;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 8px 0;
}

.eventtia-card-expand_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
}

.eventtia-card-expand_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/* styles for compact card */
.eventtia-card-compact_image {
    height: 150px;
}

.eventtia-card-compact_img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.eventtia-card-compact_badge {
  color: #ffffff;
  margin: 0 0 10px 0;
  padding: 0.2rem 0.8em;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.eventtia-card-compact_button {
  display: block;
  width: 100%;
  text-align: center;
}

.eventtia-card-compact_btn {
  color: #ffffff;
  margin-top: 10px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.eventtia-card-compact_btn:hover {
  background-color:#adadad;
}

.eventtia-card-button_btn {
  background-color: #8A1778;
  color: #ffffff;
  margin-top: 10px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.eventtia-card-button_btn:hover {
  background-color:#adadad;
}

.eventtia-card-compact_badge::before {
    content: '\025c9';
}

.eventtia-cards-compact {
  display: inline;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.eventtia-cards-compact_item {
  display: inline-flex;
  padding: 1rem;
  cursor: pointer;
  width: 250px;
}

@media (max-width: 380px) {
  .eventtia-cards-compact_item {
    width: auto !important;
  }
}

/* @media (min-width: 40rem) {
  .eventtia-cards-compact_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .eventtia-cards-compact_item {
    width: 33.3333%;
  }
} */

.eventtia-card-compact {
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.eventtia-card-compact_content {
  padding: 1rem;
  background: #ffffff;
}

.eventtia-card-compact_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
}

.eventtia-card-compact_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

/*Modal Styles*/
.modal-embed {

}
.modal-content {
  
}
.embed-modal {
  -webkit-box-shadow: 0px -3px 8px 0px rgba(224,224,224,0.5);
-moz-box-shadow: 0px -3px 8px 0px rgba(224,224,224,0.5);
box-shadow: 0px -3px 8px 0px rgba(224,224,224,0.5);
}
.close-btn {
  color: #ffffff;
  background-color: #8A1778;
  border-radius: 50px;
  padding: 3px 9px;
}